<div class="card">
    <% if (recipe) { %>
        <% if (showImage) { %>
            <img class="card-img" src="<%= recipe.img %>" alt="<%= recipe.title %>" 
            onclick="window.location.href='/receita/<%= recipe._id %>'" style="cursor: pointer;" />
        <% } %>
        <h3><a href="<%= `/receita/${recipe._id}` %>"><%= recipe.title %></a></h3>
        <p>
            <% 
                const firstThreeIngredients = recipe.ingredients.slice(0, 3).map(ingredient => ingredient.name).join(' • ');
            %>
            <%= firstThreeIngredients %>
        </p>
        <div class="info">
            <span class="num-curtida">
                <i class="bi bi-heart botao-curtida"></i> <%= recipe.likes.length > 0 ? recipe.likes.length : 0 %>
            </span>
            <span class="num-tempo">
                <i class="bi bi-stopwatch-fill"></i> <%= recipe.preparationTime %> min
            </span>
        </div>
    <% } else { %>
        <p>Receita não encontrada.</p>
    <% } %>
</div>