<div class="receita-box">
    <div class="card card-receita">
        <img class="card-img" src="<%= recipe.img %>" alt="<%= recipe.title %>">
        <div class="info-receita">
            <span class="num-curtida">
                <i class="bi bi-heart botao-curtida"></i> <%= recipe.likes.length > 0 ? recipe.likes.length : 0 %>
            </span>
            <span class="num-tempo">
                <i class="bi bi-clock"></i> <%= recipe.preparationTime %> min
            </span>
        </div>
    </div>
    <%- include('./recipeInfos.ejs', {ingredients: recipe.ingredients, preparation: recipe.preparation}) %>
</div>